*{
    margin: 0;
    padding: 0;

}

body{
    font-family: arial, sans-serif;
    background-image:linear-gradient(460deg, #34130E, #19027c) !important;

}

header{ 
    color: white;
    text-align: center;
    padding: 1em;
    
}

.txt-titulo{
    font-size: 260%;
    padding: 1em;
    font-family: cursive;
}

footer{
    background-color: #313131;
    color: white;
    text-align: center;
    padding: 1em;
}
    


.img-eu2{
    width: 30%;
    border-radius: 48%;

}

.conteudo{
    width: 115% !important;
    background-color: rgba(255, 255, 255, 0);
    
    border: 2px solid rgb(255, 255, 255);
    padding: 1em !important;
    margin-top: 4em !important;
    border-radius: 4em !important;
   
}

.principal{
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 30% !important;
   


}

.img-icone{
    width: 140% !important;

    
}

.txt-icone{
    font-size: 300% !important;
    color: white !important;
    border-radius: 2px solid rgb(255, 255, 255) !important;
}

a{
    text-decoration: none !important;
    color: black !important;
}


@media (min-width: 200px) and (max-width: 768px){
    .img-icone{
        width: 500% !important;
    }
    .txt-icone{
        font-size: 120% !important;
    }
}
